html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

body {
    background-image: url("../images/book2.gif");
    background-color: #cccccc;
    background-size: cover;
    background-repeat: no-repeat;
}

.createBackground {
    background-color: #f0f8ff;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

    .createBackground h3 {
        font-size: 24px;
        font-weight: bold;
        margin-top: 0;
    }

    .createBackground p {
        font-size: 24px;
        font-weight: bold;
        margin-top: 0;
    }


    /*Login*/

@import url();

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.background {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 75%;
    height: 75%;
    background-image: url(../images/book2.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 10px;
    border: none;
}



.login {
    width: 450px;
    position: relative;
    padding: 100px 30px;
    backdrop-filter: blur(20px);
}

    .login h2 {
        font-size: 2em;
        text-align: center;
        margin-bottom: 20px;
        color: #fff;
    }

    .login .input {
        position: relative;
        width: 100%;
        height: 30px;
        margin-bottom: 40px;
    }

        .login .input .input1 {
            font-size: 16px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: transparent;
            border: none;
            outline: none;
            border-bottom: 2px solid #fff;
            color: #fff;
            width: 100%;
            height: 100%;
        }

::placeholder {
    color: #fff;
    font-size: 18px;
}

.login .input i {
    position: relative;
    right: -360px;
    bottom: 27px;
    color: #fff;
}

.check {
    display: flex;
    justify-self: space-between;
    margin-bottom: 40px;
    color: #fff;
}

    .check a {
        text-decoration: none;
        color: #fff;
    }

        .check a:hover {
            text-decoration: underline;
        }

.login .button {
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
}

button {
    width: 100%;
    height: 40px;
    background-color: black;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 700;
    border-radius: 7px;
    color: #fff;
}

.sign-up p a{
    text-decoration: none;
    color: #000;
    font-weight: 700;
}
.sign-up p{
    color: #000;
}
.sign-up a:hover {
    text-decoration: underline;
}
.sign-up {
    display: flex;
    justify-content: center;
}

/*Ten hien thi*/
#manage {
    
    color: #000000;
    font-family: Arial, sans-serif; 
    font-size: 16px; 
    text-decoration: none; 

    
}

    #manage:hover {
        color: #ff0000;
        text-decoration: underline;
    }

#manage {
    color: #000000;
    

}
#manage:hover {
    color: #ff0000;
}


#manage:visited {
    color: #808080;
}

#manage {
    font-family: Arial, sans-serif; 
    

}
#manage:hover {
    text-decoration: underline; 
}

#manage:visited {
    font-style: italic; 
}

#manage {
    color: #000000; 
    text-decoration: none; 
   

}
#manage:hover {
    color: #ff0000;
    text-decoration: underline; 
}

#manage:hover {
    text-shadow: 0 0 5px #ff0000;
}